body{
  background-color: #ebebff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.regbtn:hover{
    background: #ebebff;
    transition: .2s;
    transform:scale(1.1);
}
#profile{
  width: 3vw;
  height: 3vw;
  background-size:contain;
  background-repeat: no-repeat;
  border-radius: 50px;
  border: 5px solid rgb(255, 255, 255);
}
#profile:hover{
    transform: scale(1.1);
    transition: .1s;
    cursor: pointer;
}
.profpic{
  background-size: contain;
}
#proset:hover{
  visibility: visible;
}
.card{
  cursor: pointer;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.314);
  transition: .3s;
}
